version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: SqlSpeedTest
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  cassandra:
    image: cassandra:latest 
    container_name: cassandra-db
    restart: always
    environment:
      - CASSANDRA_USER=admin
      - CASSANDRA_PASSWORD=admin
    ports:
      - "9042:9042"   # CQL port
    volumes:
      - cassandra_data:/var/lib/cassandra
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
  cassandra_data:
